.fastyle > .form_row {
	width: 80%;
	float: left;
	margin: 0;
}

.fastyle > .sidebar {
	width: 20%;
	float: left;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	height: 500px;
	background: #1c2939;
	overflow-y: scroll
}

.fastyle > .sidebar > * {
	margin: 10px 0;
	display: inline-block;
	position: relative
}

.fastyle > .sidebar ul {
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none
}

.fastyle > .sidebar ul li {
	margin: 0;
	display: block;
	cursor: pointer;
	padding: 10px 20px;
	background: #253447;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #607588;
	font-size: 10px;
	position: relative;
	font-weight: 500;
}

.fastyle > .sidebar ul li.active {
	background: #1f4661;
	color: #fff;
}

.fastyle > .sidebar ul li.not-saved:after {
	content: '';
	width: 8px;
	height: 8px;
	background: #ec6721;
	display: inline-block;
	border-radius: 999em;
	position: absolute;
	top: 12px;
	right: 10px;
}

.fastyle > .sidebar [name="search"] {
	padding: 12px;
	margin: 0;
	-webkit-appearance: none;
	border: 1px solid rgba(255,255,255,.1);
	background: rgba(255,255,255,.1);
	color: #fff;
	outline: none;
	width: 100%;
	box-sizing: border-box;
}

.fastyle > .sidebar li.header {
	padding: 12px;
	margin: 0;
	background: #1c2939;
	color: #7e8c98;
	font-size: 9px;
	text-transform: uppercase;
}

.fastyle > .sidebar li.header+ul {
	display: none
}

.fastyle > .sidebar li.header+ul.expanded {
	display: block
}

.fastyle:after {
	content: "";
	display: block;
	clear: both
}