@charset "UTF-8";
@font-face {
    font-family: "fastyle";
    src: url("fonts/fastyle.eot");
    src: url("fonts/fastyle.eot?#iefix") format("embedded-opentype"), url("fonts/fastyle.woff") format("woff"), url("fonts/fastyle.ttf") format("truetype"), url("fonts/fastyle.svg#fastyle") format("svg");
    font-weight: normal;
    font-style: normal
}
[data-icon]:before {
    font-family: "fastyle" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
.icon:before,
.jGrowl-notification:before {
    font-family: "fastyle" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-cancel:before,
.jGrowl-notification.ui-state-error:before {
    content: "\61"
}
.icon-resize-full:before {
    content: "\62"
}
.icon-resize-small:before {
    content: "\63"
}
.icon-right-open:before,
li.header:not(.search):before {
    content: "\65"
}
.icon-down-open:before,
li.expanded.header:not(.search):before {
    content: "\64"
}
.icon-plus:before {
    content: "\66"
}
.icon-attach:before {
    content: "\67"
}
.icon-attention:before {
    content: "\68"
}
.icon-check:before,
.jGrowl-notification.ui-state-highlight:before {
    content: "\69"
}
.icon-flash:before {
    content: "\6a";
}
.icon-down-open-big:before {
    content: "\6b";
}
.icon-up-open-big:before {
    content: "\6c";
}
.icon-left-open-big:before {
    content: "\6d";
}
.icon-right-open-big:before {
    content: "\6e";
}
li.header:before {
    margin-right: 5px;
    position: relative;
    top: 1px
}
.CodeMirror {
    height: 500px!important;
    width: 100%!important
}
.fastyle {
    position: relative
}
.fastyle.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.fastyle.full .sidebar {
    height: calc(100vh - 102px);
}
.fastyle.full .CodeMirror {
    height: calc(100vh - 102px)!important;
}
.fastyle.full .CodeMirror-merge,
.fastyle.full .CodeMirror-merge .CodeMirror {
    height: calc(100vh - 132px)!important;
}
.fastyle > * {
    display: flex
}
.fastyle .form_row {
    width: 80%;
    float: left;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    background: #1c2939;
}
.fastyle .sidebar {
    flex-basis: 20%;
    float: left;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    height: 500px;
    background: #1c2939;
    overflow-y: auto;
}
.fastyle .sidebar > * {
    margin: 10px 0;
    display: inline-block;
    position: relative
}
.fastyle .sidebar ul {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none
}
.fastyle .sidebar ul li {
    margin: 0;
    display: block;
    cursor: pointer;
    padding: 10px 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #607588;
    font-size: 10px;
    position: relative;
    font-weight: 500
}
.fastyle .sidebar ul li.active {
    color: #fff;
    border-left: 5px solid #badc8a;
    padding: 10px 25px 10px 20px
}
.fastyle .sidebar ul li.not-saved:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #f58d4b;
    display: inline-block;
    border-radius: 999em;
    position: absolute;
    top: 13px;
    right: 14px
}
.fastyle .sidebar ul li[data-status="modified"],
.fastyle .sidebar ul li[status="modified"] {
    color: #62734a
}
.fastyle .sidebar ul li[data-status="modified"].active,
.fastyle .sidebar ul li[status="modified"].active {
    color: #badc8a
}
.fastyle .sidebar ul li[data-status="original"],
.fastyle .sidebar ul li[status="original"] {
    color: #485ea5
}
.fastyle .sidebar ul li[data-status="original"].active,
.fastyle .sidebar ul li[status="original"].active {
    color: #7a98f7
}
.fastyle .sidebar ul li .icon-attention {
    color: #adaf7b
}
.fastyle .sidebar ul li.active .icon-attention {
    color: #fff077
}
.fastyle .sidebar ul li .action {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px
}
.fastyle .sidebar li.header {
    padding: 12px;
    margin: 0;
    background: #1c2939;
    color: #7e8c98;
    font-size: 9px;
    text-transform: uppercase
}
.fastyle .sidebar li i[class*="icon-"] {
    float: right;
    font-size: 11px;
    margin: 0 0 0 5px
}
.fastyle .sidebar li.header+ul {
    display: none
}
.fastyle .sidebar li.header.expanded+ul {
    display: block
}
.fastyle .sidebar li+ul .header {
    padding-left: 23px
}
.fastyle .sidebar li+ul ul {
    padding-left: 20px
}
.fastyle:after {
    content: "";
    display: block;
    clear: both
}
/* Bar */
.fastyle .bar {
    background: #1c2939;
    color: #fff;
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
}
.fastyle .bar > * {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    flex-grow: 1;
}
.fastyle .bar .sidebar {
    height: auto;
    float: none;
}
.fastyle .bar .label {
    font-size: 15px;
}
.fastyle .bar .label .meta {
    font-size: 11px;
    margin-left: 10px;
    color: #999
}
.fastyle .bar .actions {
    padding: 0;
    justify-content: flex-end;
}
.fastyle .bar.top {
    min-height: 50px
}
.fastyle .bar.bottom {
    justify-content: flex-end;
    padding: 0;
}
.fastyle .bar.bottom .actions {
    padding: 15px 25px;
}
.fastyle .button {
    padding: 4px 8px;
    background: rgb(42, 65, 80);
    border-radius: 3px;
    margin: 0 4px;
    display: inline-block;
    cursor: pointer;
    color: #7e8488
}
.fastyle .bar .actions > i {
    margin: 0 0 0 20px;
    cursor: pointer
}
.fastyle .button.current {
    background: #5786ab
}
.fastyle .button.original {
    background: #ab5780
}
.fastyle .sidebar .nothing-found,
.fastyle .bar .actions .button:not(.visible) {
    display: none
}
.fastyle .bar[data-status="modified"] .actions .revert,
.fastyle .bar[status="modified"] .actions .revert,
.fastyle .bar[data-status="modified"] .actions .diff,
.fastyle .bar[status="modified"] .actions .diff {
    color: #fff;
    background: #1f4661;
    display: inline-block
}
.fastyle .bar .actions .diff.active {
    background: #7056cc
}
.fastyle .bar[data-status="original"] .actions .delete,
.fastyle .bar[status="original"] .actions .delete {
    color: #fff;
    background: #a54848;
    display: inline-block
}
.fastyle .bar .actions .add {
    color: #fff;
    background: #73ab57
}
.fastyle .bar .actions .button.quickmode.enabled {
    color: #fff;
    background: #aba657
}
/* Switcher */
.fastyle .switcher {
    padding: 0;
    box-sizing: border-box;
    background: #33404e;
    border-bottom: 1px solid #495460;
    position: relative
}
.fastyle .switcher .sidebar {
    background: none
}
.fastyle .switcher .sidebar .search {
    padding: 10px 12px;
}
.fastyle .bar .swiper-button-prev,
.fastyle .bar .swiper-button-next {
    background: none
}
.fastyle .bar .swiper-button-prev {
    left: 20%;
}
.fastyle .switcher .content {
    overflow: scroll;
    box-sizing: border-box;
    width: 80%;
    white-space: nowrap;
    margin: 0 50px
}
.fastyle .switcher .swiper-wrapper {
    height: auto
}
.fastyle .switcher .content > div > div {
    padding: 5px 8px 5px 20px;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.fastyle .switcher .content > div > div.active {
    background: #1c2a3a;
    border-radius: 3px;
    color: #fff;
}
.fastyle .switcher .delete {
    position: absolute;
    top: 7px;
    left: 5px;
}
.fastyle .switcher .content > div > div:only-child {
    padding-left: 8px
}
.fastyle .switcher .content > div > div:only-child .delete {
    display: none
}

/* Inputs */

.fastyle input[type="textbox"] {
    padding: 8px 12px;
    margin: 0;
    -webkit-appearance: none;
    border: 1px solid rgba(255, 255, 255, .1);
    background: rgba(255, 255, 255, .1);
    color: #fff;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
.fastyle .actions input[type="textbox"] {
    width: auto;
    padding: 4px 12px;
    border-radius: 3px 0 0 3px;
    margin-left: 5px;
}
.fastyle .actions input[type="textbox"] + span {
    margin-left: 0!important;
    border-radius: 0 3px 3px 0!important
}
/* CodeMirror overlay */

.CodeMirror .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    border-radius: 6px
}
/* CodeMirror search dialog */

.fastyle .CodeMirror-dialog .button {
    height: 19px;
    vertical-align: top;
    background: #d6d6d6;
    margin: 0;
    border-radius: 3px 0 0 3px;
    color: #515d6b;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px
}
.fastyle .CodeMirror-dialog .button:last-of-type {
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #7f8b9a;
}
.fastyle .CodeMirror-dialog div:last-child {
    margin-top: 10px
}
.fastyle .button.prev:before,
.fastyle .button.next:before {
    line-height: 20px;
}

/* Misc */
.fastyle .delete {
    color: #d04750
}
/* jGrowl */

.jGrowl {
    position: absolute
}
.jGrowl-notification.ui-state-highlight,
.jGrowl-notification.ui-state-error {
    border: none;
    background: hsla(0, 0%, 100%, 0.95);
    font-weight: 400;
    color: #676767;
    opacity: 1;
    border-radius: 3px;
    padding-left: 55px;
    position: relative;
    line-height: 1.6
}
.jGrowl-notification .jGrowl-close {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: inherit
}
.jGrowl-notification.ui-state-highlight:before,
.jGrowl-notification.ui-state-error:before {
    display: block;
    text-align: center;
    background: #71c341;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 999em;
    line-height: 30px;
    font-size: 16px;
    float: left;
    margin: 0 10px 0 0;
    position: absolute;
    top: 15px;
    left: 10px
}
.jGrowl-notification.ui-state-error:before {
    background: #c34156
}